// ================== colors ==================
$body-bg: #2C394B;
$text: #FFFFFF;

$navbar-bg: #00000040;

$card-group-bg: #04101A;
$card-title-bg: #334756;
// ================== colors ==================